.anime-list {
    display: flex;
    flex-wrap: wrap;
    margin: 32px -8px 0px;
}
.anime-card {
    flex: 1 1 24%;
    max-width: 33.333%;
    padding: 19px 15px;
}

figure {
    display: block;
    margin-bottom: 16px;
}
img {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

h3 {
    color: #313131;
}

.anime-card:hover figure img{
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}